// CSS Formulaire
.wpcf7-form {
    width: 500px;
    height: 600px;
    margin-left : 150px;
    font-family: 'Poppins';
    @media screen and (max-width: 425px) {
        max-width: 100%;
    }
    .label-form {
        border:none;
        background-color:none;
        color:black;
    }
    
    input, textarea{
        border-radius:10px;
        border:1px solid #B8BBC2;
        height:40px;
        width:260px;
        font-family:'Space Mono';
    }
    .wpcf7-submit, .has-spinner{
        border-radius: 2px;
        border: none;
        
    }

    textarea{
        height:190px;
    }

    .form{
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form ul{
        padding:0px;
        margin:0px;
    }
    
    .form ul li{
        display:flex;
    }
    
    .form div p{
        padding:0px;
        margin:0px;
    }
}